@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    background-color: #F7F5F1;
    background: linear-gradient(135deg, #F7F5F1 0%, #FFFFFF 100%);
    height: calc(100vh - 27px);
}

@font-face {
    font-family: 'MagnumSans';
    src: url('./assets/MagnumSans.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}