@font-face {
    font-family: 'MagnumSans';
    src: url('../assets/MagnumSans.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

nav {
    margin: 27px auto;
    position: relative;
    width: 600px;
    height: 50px;
    background-color: #FFFFFF;
    border-radius: 12px;
    font-size: 0;
    z-index: 999;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.06);
    border: 1px solid #E8E2D9;
}

nav .navbar-item {
    line-height: 50px;
    height: 100%;
    font-size: 15px;
    display: inline-block;
    position: relative;
    z-index: 1;
    text-decoration: none;
    text-transform: uppercase;
    text-align: center;
    color: #1F2937;
    cursor: pointer;
    font-family: 'MagnumSans', sans-serif;
    font-weight: 500;
}

nav .navbar-item:hover {
    color: #2457B2;
}

nav .animation {
    position: absolute;
    height: 100%;
    top: 0;
    z-index: 0;
    transition: all .3s ease 0s;
    border-radius: 12px;
}

.navbar-item:nth-child(1) {
    width: 120px;
}

.navbar-item:nth-child(2) {
    width: 120px;
}

.navbar-item:nth-child(3) {
    width: 120px;
}

.navbar-item:nth-child(4) {
    width: 120px;
}

.navbar-item:nth-child(5) {
    width: 120px;
}

nav .navbar-item:nth-child(1):hover~.animation {
    width: 120px;
    left: 0;
    background-color: #3C8C6E;
}

nav .navbar-item:nth-child(2):hover~.animation {
    width: 120px;
    left: 120px;
    background-color: #8B5E3C;
}

nav .navbar-item:nth-child(3):hover~.animation {
    width: 120px;
    left: 240px;
    background-color: #2457B2;
}

nav .navbar-item:nth-child(4):hover~.animation {
    width: 120px;
    left: 360px;
    background-color: #2563EB;
}

nav .navbar-item:nth-child(5):hover~.animation {
    width: 120px;
    left: 480px;
    background-color: #F59E0B;
}

span {
    color: #3C8C6E;
}


.navbar-item.active {
    border-radius: 12px;
    color: white;
}

.navbar-item:nth-child(1).active {
    background-color: #3C8C6E;
}

.navbar-item:nth-child(2).active {
    background-color: #8B5E3C;
}

.navbar-item:nth-child(3).active {
    background-color: #2457B2;
}

.navbar-item:nth-child(4).active {
    background-color: #2563EB;
}

.navbar-item:nth-child(5).active {
    background-color: #F59E0B;
}